@page
@model Tekor.Pages.Goals.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Goals</h2>

<p>
    <a asp-page="./Create" class="btn btn-primary">Create New Goals</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Goal[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal[0].GoalValue)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal[0].Reward.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal[0].Reward.CuponCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Goal[0].ActualGoalStates)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Goal) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GoalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reward.CuponCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualGoalStates.Count)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" class="btn btn-default">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID" class="btn btn-default">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID" class="btn btn-default">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
